

<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mochammad Abdurrozaq</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="{% static 'jobs/css/bootstrap.min.css' %}" >


    <!-- Custom styles for this template -->
    
  </head>

  <body>

   

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Mochammad Abdurrozaq</h1>
          <p class="lead text-muted">Hi my name is Rozaq, I enjoy making apps and playing ML</p>
          <p>
            <a href="mailto:mochammadrozaq16@gmail.com" class="btn btn-primary my-2">Email Me</a>
         
          </p>
          <img src="{% static 'jobs/2.jpg' %}" style="width:200px;heigth:auto">
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          {% for job in jobs.all %}
            <div class="col-md-4">
            <a href="{% url 'detail' job.id %}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap" src="{{job.image.url}}">
                <div class="card-body">
                  <p class="card-text">{{job.summary}}</p>
                  
                </div>
              </div>
            </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jobs/js/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'jobs/js/popper.min.js' %}"></script>
<script src="{% static 'jobs/js/bootstrap.min.js' %}"></script>

  </body>
</html>

